:root{
    --aacolor:orangered;
    --bgcolor:rgb(16, 16, 16);
    --awcolor:darkorange;
    --font_color:white;
    --bgcolor2:black;
    --font_color2:rgb(169, 169, 169);
    --font1:"Heebo", sans-serif;
    --font2:"Bebas Neue", sans-serif;
    --font3:"Noto Sans", sans-serif;
 }
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    background: linear-gradient(0deg, var(--bgcolor), var(--bgcolor2));
}
div.brands{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0px ;
}
div.brands h3{
    margin: 0px 0px 50px ;
    color: var(--awcolor);
    font-size: 30px;
    letter-spacing: 3px ;
}
div.brand_name{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.brand h4 {
    margin-top: 15px;
    /* box-shadow: 2px 2px 2px 2px black; */
    text-shadow: 4px 4px 3px black;
}
.brand1 h4{
    font-family: var(--font3);
}
.brand2 h4{
    font-family: "Great Vibes", cursive;
    letter-spacing: 1px;
    color: var(--awcolor);
}.brand3 h4{
    font-family: var(--font2);
    letter-spacing: 2px;

}.brand4 h4{
    font-family:fantasy;
    font-weight: 300;
    letter-spacing: 1px;
    color: goldenrod;
}.brand5 h4{
    font-family: var(--font1);
    color: var(--aacolor);
}
div.footer ul {
    background: var(--bgcolor);
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font2);
    font-weight: 400;
    font-size: 20px;
    height: 100px;
    margin: 55px 0px 0px;
}
div.footer ul li {
    margin-top: 40px;
}
